In [1]:
from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen
from urllib.error import HTTPError,URLError
import re
import pandas as pd

In [2]:
headers={'user-Agent':'Mozilla/5.0'}
url = "https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=7d212dab-8e82-4f22-adaf-3c1214efa71b&as-searchtext=laptop"

In [3]:
try: 
    req =Request(url,headers=headers)
    html = urlopen(req)
except HTTPError as e:
    print(e)
except URLError as e:
    print('The server could not be found!')
else:
    print('It Worked!')

It Worked!

In [4]:
req = Request(url, headers={'user-Agent':'Mozilla/5.0'})
webpage = urlopen(req)
bs = soup(webpage,'html5lib')
webpage.close()

In [5]:
bs.p

# Name of the product displayed

In [6]:
names= bs.findAll('div',class_='_4rR01T')
len(names)

24

In [7]:
names[1]

In [8]:
name=[]
for i in range(0,len(names)):
    n = names[i].text.split()[0:2]
    na = ' '.join(n)
    name.append(na)
    #ram = names[i].text.split()[9]
    #ram=re.split('-(/',ratings[i])
    
    
    #print(name)
print(len(name))

24

# Discounted Price of the product

In [9]:
# bs.findAll('div',class_="_30jeq3 _1_WHN1")
d_price = bs.find_all('div',attrs={'class':"_30jeq3 _1_WHN1"})

In [10]:
discount=[]
for i in range(0,len(d_price)):
    dis = d_price[i].text
    discount.append(dis)
print(len(discount))

24

# Original Price of product

In [11]:
o_price = bs.findAll('div',{'class':'_3I9_wc _27UcVY'})

In [28]:
original=[]
for i in range(0,len(o_price)):
    orig = o_price[i].text
    original.append(orig)

print(original)

['₹34,490', '₹26,407', '₹89,990', '₹58,490', '₹62,990', '₹57,600', '₹44,272', '₹94,990', '₹1,49,999', '₹82,490', '₹88,990', '₹38,246', '₹84,999', '₹51,890', '₹24,784', '₹46,359', '₹59,671', '₹46,390', '₹50,098', '₹45,602', '₹24,389', '₹55,431']

# Total Ratings of product

In [13]:
rat = bs.findAll('div',class_="_3LWZlK")

In [14]:
ratings=[]
for i in range(0,24):
    rati = rat[i].text
    ratings.append(rati)
    
    
print(len(ratings))

24

# Specifications of product

In [15]:
specs= bs.findAll('li',class_="rgWa7D")

In [16]:
specs[4].text

'39.62 cm (15.6 inch) Display'

# Percentage of discount given

In [17]:
percent = bs.findAll('div',class_='_3Ay6Sb')

In [19]:
percentage=[]
for i in range(0,24):
    perc = percent[i].text.split()[0]
    percentage.append(perc)
    
    
print(len(percentage))

24

# No. of Ratings and Reviews given

In [20]:
r_r =bs.find_all('span',class_='_2_R_DZ')

In [21]:
n_ratings=[]
n_reviews=[]
for i in range(0,len(r_r)):
    n_ra = r_r[i].text.split()[0]
    n_ratings.append(n_ra)
    n_re = r_r[i].text.split()[-2]
    n_reviews.append(n_re)



    
print(len(n_ratings),'\t',len(n_reviews))

24 	 24

In [ ]:
import csv

In [22]:
dict={'Name':name,
     'Discounted_Price':discount,
    #'Original_Price':original,
     'Ratings':ratings,
     'Discount_Percentage':percentage,
     'No._of_Ratings_given':n_ratings,
      'No.of_Reviews_given':n_reviews
     }

In [23]:
data=pd.DataFrame(dict)

In [25]:
data.head(50)

,Name,Discounted_Price,Ratings,Discount_Percentage,No._of_Ratings_given,No.of_Reviews_given
0,Lenovo Ideapad,"₹27,990",4.1,18%,409,45
1,HP 14s,"₹36,990",4.2,7%,"3,684",403
2,HP 15s,"₹24,550",4,37%,943,117
3,acer Aspire,"₹55,990",4.5,26%,763,128
4,Lenovo Ideapad,"₹42,990",4.2,20%,"1,063",150
5,ASUS VivoBook,"₹49,990",4.5,11%,656,134
6,acer Aspire,"₹50,990",4.4,9%,424,55
7,DELL Inspiron,"₹39,940",3,42%,4,0
8,MSI GF63,"₹54,990",4.5,22%,"3,512",497
9,DELL Inspiron,"₹28,906",4.4,27%,16,4
10,acer Predator,"₹1,16,990",4.7,24%,20,7
11,Lenovo Ideapad,"₹59,990",4.5,8%,"1,141",171
12,Lenovo Legion,"₹66,990",4.6,35%,156,27
13,HP 15s,"₹34,990",4.3,34%,431,51
14,acer Aspire,"₹54,990",4.4,3%,"1,132",153
15,Lenovo Ideapad,"₹33,990",4.1,5%,617,88
16,HP 15s,"₹23,990",4,16%,398,35
17,Mi Notebook,"₹43,999",4.3,3%,"2,715",313
18,HP Pavilion,"₹49,990",4.4,8%,"1,267",144
19,ASUS VivoBook,"₹44,990",4.5,6%,37,9
20,HP Pavilion,"₹45,990",4.4,9%,315,38
21,DELL Vostro,"₹42,499",4.2,6%,181,25
22,ASUS Celeron,"₹21,990",3.9,22%,"6,361",831
23,ASUS Core,"₹51,990",4.3,8%,461,66

In [26]:
data.to_csv('Flipkart_laptop_deals.csv',index=False)